/* Arrow right in teal */
.admin-item__link::before {
background-image: url('data:image/svg+xml,<svg  width="9" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M1.71.314L.29 1.723l5.302 5.353L.289 12.43l1.422 1.408 6.697-6.762z" fill="%231D7491"/></svg>');
}

/* Accordion right, up, and down arrows in hover/active/focus */
.claro-details__summary:hover::before, .claro-details__summary:hover:focus::before, .claro-details[open] > .claro-details__summary:focus::before, .claro-details[open] > .claro-details__summary--accordion::before, .claro-details[open] > .claro-details__summary--accordion-item::before, .claro-details[open] > .claro-details__summary--vertical-tabs-item::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><path d='M5.21 1.314L3.79 2.723l5.302 5.353-5.303 5.354 1.422 1.408 6.697-6.762z' fill='%231D7491'/></svg>");
}

/* Checked radio button circle svg */
.form-boolean--type-radio:checked {
  background-image: url("data:image/svg+xml,<svg width='17' height='17' xmlns='http://www.w3.org/2000/svg'><circle r='4.5' cx='8.5' cy='8.5' fill='%231D7491'/></svg>");
}