/* Tables */

/*Override the Claro table, tbody, and trow background color */
table.views-table {
  background-color: rgba(255, 255, 255, 0) !important;
}

tbody {
  background-color: rgba(255, 255, 255, 0) !important;
}

tr {
  background-color: rgba(255, 255, 255, 0) !important;
}


