/* Layout Utilities */
:root {
  --viewport-margin: 16px;
}

@media (min-width: 720px) {
  :root {
    --viewport-margin: 40px;
  }
}

.viewport-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--viewport-margin);
  padding-right: var(--viewport-margin);
}

/* Flex Utilities */

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

/* Scroll Shadows */

.scroll-shadows--horizontal {
  overflow-x: scroll;
  margin-top: 2.5rem;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(to right, white, white),
    linear-gradient(to right, white, white),
    linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
    linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}